<ul>
  <% for @node in @nodes %>
    <li>
    	node <%= @node.id %>
   		<ul>
    		<li>mode: <%= @node.status.to_i.to_s(2) %></li>
    		<li>&nbsp;&Delta;T : <%= @node.delta %> (<%= @node.var %>)</li>
    		<li>last: T-<%= if @node.last.nil? then "zero" else (millis - @node.last)/1000 end%> s</li>
    		<li>
    			node relations:
    			<ul>
    				<% for @node2 in @nodes %>
    					<% if @node.id != @node2.id %>
							<li>
								&Delta;(<%= @node.id %>,<%= @node2.id %>):
								<%= @node.delta-@node2.delta %> 
							</li>
						<% end %>
    				<% end %>
    			</ul>
    		</li>
    	</ul>
    </li>
  <% end %>
</ul>
