<ul>
  <% for @node in @nodes %>
    <li>
    	node <%= @node.id %>
   		<ul>
    		<li>mode: <%= @node.status.to_i.to_s(2) %></li>
    		<li> &Delta;T : <%= @node.delta %> (<%= @node.var %>)</li>
    		<li> last Packet: T-<%= millis-@node.lastPacket %> ms</li>
    		<li>
    			Offset between nodes:
    			<ul>
    				<% for @node2 in @nodes %>
    					<% if @node.id != @node2.id %>
							<li>
								&Delta;(<%= @node.id %>,<%= @node2.id %>):
								<%= @node.delta-@node2.delta %> 
							</li>
						<% end %>
    				<% end %>
    			</ul>
    		</li>
    	</ul>
    </li>
  <% end %>
</ul>
